
<div style="height: 20px;"></div>
<div class="container">

    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h4 class="text-center">Register to explore amazing career opportunities</h4>
                <div style="height: 20px;"></div>
                 <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                <!--   <h2>OSGS</h2>   -->  
                <form [formGroup]="RegistrationForm" (ngSubmit)="SubmitForm()">
                  
                  <div class="form-group">
                    <label for="Email" style="font-weight: 600;">Email Address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Enter Email Address" formControlName="Email" autocomplete="off">
                  </div>

                  <div *ngIf="EmailInUse===true">
                        <p class="text text-danger">Email In Use</p>  
                  </div>

                  
                  <div *ngIf="!Email2?.valid &&  (Email2?.dirty || Email2?.touched) " class="text-danger">
                      <div *ngIf="Email2!.errors!.required">
                          Email is required
                      </div>
                      <div *ngIf="Email2!.errors!.pattern">
                          Invalid Email
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="Password" style="font-weight: 600;">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="Password" autocomplete="off">
                  </div>
                  <div *ngIf="!Password2?.valid &&  (Password2?.dirty || Password2?.touched) " class="text-danger">
                      <div *ngIf="Password2!.errors!.required">
                          Password is required
                      </div>
                      <div *ngIf="Password2!.errors!.pattern">
                          Invalid Password
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="ConfirmPassword" style="font-weight: 600;">Confirm Password</label>
                    <input type="password" class="form-control" id="ConfirmPassword" placeholder="Enter Password Again" formControlName="ConfirmPassword" autocomplete="off">
                  </div>
                  <div *ngIf="PasswordMatch===false">
                        <p class="text text-danger">Password and Confirm Password are not matching</p>  
                  </div>
                  <div *ngIf="!ConfirmPassword2?.valid &&  (ConfirmPassword2?.dirty || ConfirmPassword2?.touched) " class="text-danger">
                      <div *ngIf="ConfirmPassword2!.errors!.required">
                          Password is required
                      </div>
                      <div *ngIf="ConfirmPassword2!.errors!.pattern">
                          Invalid Password
                      </div>

                       
                  </div>

                  
                  <div class="form-group">
                    <label for="City" style="font-weight: 600;">City</label>
                    <input type="text" class="form-control" id="City" placeholder="Enter City" formControlName="City" autocomplete="off">
                  </div>
                  <div *ngIf="!City2?.valid &&  (City2?.dirty || City2?.touched) " class="text-danger">
                      <div *ngIf="City2!.errors!.required">
                          City is required
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="Mobile" style="font-weight: 600;">Mobile No.</label>
                    <input type="number" class="form-control" id="Mobile" placeholder="Enter Mobile Number" formControlName="Mobile" autocomplete="off">
                  </div>
                  <div *ngIf="!Mobile2?.valid &&  (Mobile2?.dirty || Mobile2?.touched) " class="text-danger">
                      <div *ngIf="Mobile2!.errors!.required">
                          Mobile is required
                      </div>
                      <div *ngIf="Mobile2!.errors!.pattern">
                          Invalid Mobile Number
                      </div>
                  </div>

                  <div class="row justify-content-center" *ngIf="IsLoading; else buttondiv">
                        <img style="width: 100px;" src="./assets/ezgif.com-gif-maker.gif" alt="">
                  </div>

                  <ng-template #buttondiv>
                    <button type="submit" class="btn LTIButton  py-2" style="width: 100%; " [disabled]="!RegistrationForm.valid">Register</button>

                  </ng-template>


                </form>


                </div>
                <div class="col-lg-3"></div>

                </div>
                
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
    </div>
</div>
<div style="height: 20px;"></div>



<!--  
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4">
    <h2>OSGS</h2>
</div>
<div class="col-lg-4"></div>
</div>
-->